[REPORTS]
reports=no

[MESSAGES CONTROL]
disable=R,C0111, C0103, C0121, W1203, missing-module-docstring, missing-class-docstring,
    missing-function-docstring, not-callable, unsubscriptable-object, global-statement

[BASIC]
good-names=i, db, id, k, v
generated-members=deleted, id, state, metadata, op.get_bind, op.create_index,
    op.drop_index, op.f, op.create_table, op.drop_table, op.add_column,
    op.drop_column, op.create_foreign_key, op.alter_column, op.drop_constraint,
    op.execute, is_

[MASTER]
ignore=ffc_api/ffc_api_server/migrations
