---
- import_playbook: k8s-master.yaml

- hosts: all
  gather_facts: yes
  vars:
    k8s_deployment_name: optscale
    optscale_dir: "{{ ansible_env.HOME }}/optscale"
    optscale_deploy_dir: "{{ optscale_dir }}/optscale-deploy"

    user_template_overlay: "{{ optscale_deploy_dir }}/overlay/user_template.yml"
    user_thanos_overlay: "{{ optscale_deploy_dir }}/overlay/user_thanos_disabled.yml"

  tasks:
    - name: get the container images that need to be rebuilt
      command:
        argv:
          - find
          - "{{ optscale_dir }}"
          - -mindepth
          - 2
          - -maxdepth
          - 3
          - -name
          - Dockerfile
          - -exec
          - sh
          - -c
          - echo $(basename $(dirname $0))
          - {}
          - ;
      register: containers_to_build

    # Building the containers one by one instead of just using `./build.sh --use-nerdctl` to display the progress
    # when running the playbook. Also in case of failure it will be clear exactly which item failed
    - name: build the container images (this will take awhile, be patient :))
      command: "{{ optscale_dir }}/build.sh --use-nerdctl {{ item }} local"
      args:
        chdir: "{{ optscale_dir }}"
      environment:
        PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.HOME }}/bin:{{ ansible_env.PATH }}"
      loop: "{{ containers_to_build.stdout_lines }}"
      when: item != 'elk'

    - name: build elk container image when enabled
      command: "{{ optscale_dir }}/build.sh --use-nerdctl elk local"
      args:
        chdir: "{{ optscale_dir }}"
      environment:
        PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.HOME }}/bin:{{ ansible_env.PATH }}"
      when: with_elk | default(false) | bool

    - name: build runkube extra args
      set_fact:
        runkube_extra_args: >-
          {{
            (with_elk | default(false) | bool)
            | ternary(['--with-elk'], [])
          }}

    - name: install the system packages to run the deployment
      apt:
        name:
          - python3-pip
          - sshpass
          - git
          - python3-virtualenv
          - python3
          - python3-venv
          - python3-dev
          - wget
          - curl
          - mc
          - htop
          - bpytop
          - nmap
          - bmon
        state: present
        update_cache: yes
      become: true

    - name: install bash-completion package
      apt:
        name:
          - bash-completion
        state: present
        update_cache: yes
      become: true

    - name: configure bash completion and prompt in user .bashrc
      blockinfile:
        path: "{{ ansible_env.HOME }}/.bashrc"
        create: yes
        marker: "# {mark} ANSIBLE OPTSCALE BASH SETTINGS"
        block: |
          # Enable bash-completion if available
          if [ -f /usr/share/bash-completion/bash_completion ]; then
            . /usr/share/bash-completion/bash_completion
          elif [ -f /etc/bash_completion ]; then
            . /etc/bash_completion
          fi

          # Nice prompt: user@hostname:cwd$
          export PS1='\u@\h:\w\$ '
      # No become here so it edits the actual user's ~/.bashrc (e.g. vagrant)
      become: false

    - name: install the python dependancies for Optscale-deploy
      pip:
        requirements: "{{ optscale_deploy_dir }}/requirements.txt"
        virtualenv: "{{ optscale_deploy_dir }}/.venv"


    - name: build overlay list for runkube
      set_fact:
        runkube_overlays: >-
          {{
            [user_template_overlay]
            + (disable_thanos | default(false) | bool | ternary([user_thanos_overlay], []))
          }}

    - name: run the k8s cluster setup script
      command:
        argv: >-
          {{
            [optscale_deploy_dir + '/.venv/bin/python',
             'runkube.py']
            + runkube_extra_args
            + ['--no-pull',
               '-o']
            + runkube_overlays
            + ['--', k8s_deployment_name, 'local']
          }}
      args:
        chdir: "{{ optscale_deploy_dir }}"
      environment:
        PATH: "{{ ansible_env.HOME }}/.local/bin:{{ ansible_env.HOME }}/bin:{{ ansible_env.PATH }}"
