/*
 * Disable platform-dependent text rendering and motion.
*/
html,
body,
* {
  font-smooth: never !important;
  -webkit-font-smoothing: none !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-stroke: 0 transparent !important;
  text-shadow: none !important;
  color-adjust: exact !important;
  image-rendering: pixelated !important;
  backface-visibility: hidden !important;
  caret-color: transparent !important;
}

*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
}