<div style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px">
    Welcome to <strong>FinOps for Cloud</strong>
</div>
<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 20px;">
    <span>Thank you for registering!</span>
</p>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px;">
    <span>OptScale is an open source MLOps and FinOps platform that optimizes ML/AI or any workload performance and cost.</span>
</p>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px;">
        <span>We will happily assist your company in optimizing performance and IT infrastructure cost by analyzing cloud usage, proﬁling and instrumentation of applications, ML/AI tasks, and cloud PaaS services, and delivering tangible optimization recommendations.
</span>
</p>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px;">
    Here is a link to the product dashboard (the username is your email address):
</p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 20px;">
    <strong>
        <a style="color: #4ab4ee;"
           href="https://{{etcd.control_panel_link}}{{texts.control_panel_parameters}}" target="_blank"
           rel="noopener">https://{{etcd.control_panel_link}}</a></strong>
</p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px; padding-bottom: 20px;">
    OptScale MLOps
</p>


<div>
    <p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px; padding-bottom: 20px;">
        <strong>MLOps capabilities:</strong></p>
    <div>
        <ul style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 20px;">
            <li><span style="color:#004c74">ML leaderboards</span></li>
            <li><span style="color:#004c74">Performance bottleneck identification & optimization</span></li>
            <li><span
                    style="color:#004c74">Bulk run of ML/AI experiments using Spot and Reserved Instances</span>
            </li>
            <li><span style="color:#004c74">Experiment tracking</span></li>
        </ul>
    </div>
</div>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px; padding-bottom: 20px;">
    <strong>Add your first model:</strong>
</p>

<div>
    <p><strong><a style="color: #4ab4ee;" href="https://{{etcd.control_panel_link}}/models" target="_blank"
                  rel="noopener">https://{{etcd.control_panel_link}}/models</a></strong></p>
</div>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px; padding-bottom: 0px;">
    <strong>Coming soon:</strong></p>
<ul>
    <li style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
        <strong>Integration with MLFlow</strong> to manage ML model lifecycle and experiment results through the
        enhanced user interface
    </li>
    <li style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
        <strong>PaaS or any external SaaS service instrumentation</strong> to track usage, performance, and cost
        for applications or ML/AI experiments
    </li>
</ul>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px; padding-bottom: 20px;">
    OptScale FinOps
</p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
    <strong>One step left to implement FinOps principles:</strong></p>
<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 20px; margin: 0px;">
    Please connect the first cloud account or Kubernetes cluster to start cost optimization immediately and get
    the most out of your experience with OptScale.</p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
    Here is a <strong>detailed guide</strong>:</p>
<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
    <strong><a style="color: #4ab4ee;"
               href="https://hystax.com/documentation/optscale/cloud_connection/index.html" target="_blank"
               rel="noopener">https://hystax.com/documentation/optscale/cloud_connection/index.html</a></strong>
</p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 24px; padding-bottom: 0px;">
    <span style="color: #004c74;"><strong>OptScale documentation</strong>:</span></p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
    The OptScale platform can also be deployed from source code on <strong><span style="color: #004c74;"><a
        style="color: #004c74;" href="https://github.com/hystax/optscale" target="_blank"
        rel="noopener">GitHub</a></span></strong></p>


<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 20px; margin: 0;">
    Do you have any questions or comments? Feel free to reach us via <strong>support@hystax.com</strong>. We are
    here to help!</p>

<p style="text-align: left; font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; font-size: 18px; padding-bottom: 0px; margin: 0px;">
    Warm regards,<br>Hystax OptScale Team</p>
